/* COMPONENTS ///////////////////////////////////////////////////////////////*/
/* Accordion */
  

.accordion
  display: flex
  flex-direction: column
  max-width: 100%
  margin: 0 auto

  &__panel
    padding: 0.5rem 2rem
    margin-bottom: 2rem
    transition: all 0.6s
    background-color: rgba(255, 255, 255, 0.8)
    border-left: 6px solid var(--queen-blue)
    // border-bottom: 1px solid var(--queen-blue)
    border-radius: 5px
    &:hover
      transform: scale(1.01)
      border-bottom: 1px solid var(--queen-blue)

  &__label
    display: flex    
    align-items: center
    flex-wrap: wrap
    cursor: pointer
    padding: 0.5rem 0 0 0
    @include respond(phone)
      font-size: 1.8rem

    &::before
      content: '+'
      font-family: var(--font-family-main)
      background: url("../img/light-bulb.png") no-repeat
      background-size: contain
      font-size: 3rem
      padding-right: 1rem
      width: 48px
      height: 48px
      background-position: 0.4rem 0
      transition: all 1.2s

    &--open::before
      content: '-'
      background: url("../img/bulb.png") no-repeat
      background-size: contain
      background-position: 0.4rem 0
      text-shadow: 1px 1px 1px var(--honey-yellow)

  &__content
    max-height: 0
    padding: 0
    overflow: hidden
    transition: max-height 0.4s ease
    padding: 0 1rem 0 1rem
    margin: 0.5rem 0
