/* BASE //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
*,
*::after,
*::before
  margin: 0px
  padding: 0px
  
body
  box-sizing: border-box
  min-height: 100vh

/* sections */
.section
  &__hero
    position: relative
    width: 100%
    min-height: 55vh
    overflow: hidden
    display: flex
    justify-content: center
    align-items: flex-end
    clip-path: polygon(0 0, 5% 95%, 45% 95%, 50% 100%, 55% 95%, 95% 95%, 100% 0) // arrow down, cut on sides going wider upwards - wider

    @include respond(phone)
      min-height: 40vh

    &-background
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      pointer-events: none

  &__wrapper
    padding: 10rem 20rem 10rem 20rem
    height: auto
    @include respond(tab-land)
      padding: 6rem 15rem
    @include respond(tab-port)
      padding: 6rem 6rem
    @include respond(phone)
      padding: 4rem 4rem
    transition: all 0.6s

/* grid */
.grid
  &__container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto auto
    @include respond(tab-port) 
      grid-template-columns: 1fr 
      grid-template-rows: auto

  &__item
    transition: all 0.6s

    &--hidden
      opacity: 0
      transform: translateY(-6rem)
      
  &__item-1
    grid-column: 1/2
    grid-row: 1/2

  &__item-2
    grid-column: 2/3
    grid-row: 2/3
    @include respond(tab-port) 
      grid-column: 1/2
      grid-row: auto

/* heading */
.heading-background
  width: 100%
  min-height: 10rem
  padding-bottom: 10rem
  display: flex
  justify-content: center
  align-items: flex-start
  background-color: rgb(0, 0, 0, 0.3)
  z-index: 1
  @include respond(phone)
    min-height: 4rem


