/* Fun - section */
    
.section__fun // rear layer
  background-color: var(--opal)

  .heading-tertiary
    color: var(--queen-blue)

.section__fun-front-layer //front layer
  width: 100%
  height: 100%
  // clip-path: polygon(10% 0, 0 10%, 3% 95%, 0% 100%, 100% 100%, 97% 95%, 100% 10%, 90% 0) // cut on sides going wider upwards - wider
  clip-path: polygon(5% 0, 0 10%, 3% 95%, 0% 100%, 100% 100%, 97% 95%, 100% 10%, 95% 0) // cut on sides going wider upwards - less wide

  // background-color: var(--sea-shell)
  // background-color: var(--peach-puff)
  background-color: var(--color-white)

.people
  display: flex
  justify-content: space-evenly
  padding-bottom: 12rem

.avatar
  &-michelle, &-aaron
    width: 18rem
    height: 18rem
    border-radius: 50%
    border: 4px solid var(--queen-blue)
    background-color: var(--queen-blue)

    @include respond(phone)
      width: 10rem
      height: 10rem

// .containerOfAbsolute
//   height: 50vh