/* Hopes - section */
  
.section
  &__hopes // rear layer
    background-color: var(--color-front-now)
    .heading-tertiary
      color: var(--color-white)
    &-front-layer //front layer
      width: 100%
      height: 100%
      background-color: var(--color-front-hopes)
      clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%, 97% 0, 3% 0) // upper corners cut narrower

    & .section__wrapper:nth-of-type(2)
      padding-bottom: 0

    & .section__wrapper:nth-of-type(3)
      padding-top: 0
