/* VARIABLES */

:root
  /* grid */
  --grid-gap: 0.2rem

  /* colors */
  --color-primary: #7ed56f
  --color-primary-light: #55c57a
  --color-primary-dark: #28b485
  --color-secondary: #818AA3
  --color-secondary-light: #818AA3
  --color-secondary-dark: #ff7730
  --color-tertiary-light: #2998ff
  --color-tertiary-dark: #5643fa

  --color-white: #fff
  --color-black: #000

  --popstar: #ce4760ff
  --bistre: #251605ff
  --antique-white: #FFE9D6
  --peach-puff: #FFDEC2
  --maximum-yellow-red: #ffbf46ff
  --honey-yellow: #FBAF00
  --gainsboro: #F5F4F6

  /* section backgrounds */
  --cultured: #F5F5F5
  --platinum: #EBEAE8
  --light-gray: #EBEBEB
  // --mellow-apricot: #F9B876
  --light-orange: #FCD6B1
  --opal: #B7CCCC
  --sea-shell: #FFF4EB
  --beau-blue: #D1E3F0


  /* Typography */
  --default-font-size: 1.6rem
  --color-grey-dark: #777
  --color-grey-dark-2: #999
  --color-grey-dark-3: #333333
  --queen-blue: rgb(71,108,155)
  --light-steel-blue: #8FA8CC
  --color-btn-shadow: #B2A9B2

  --font-family-heading: '3dumb'
  --font-menu-color: #fff

  /* borders */
  --border-radius-small: 0.3rem

