/* TABLE OF CONTENTS /////////////////////////////////////////////////////////////////
  *
 Line 20 - VARIABLES 
 Line 44 - UTILITIES 
 Line 53 - BASE
  * - sections
  * - grid
  * - heading 
 Line 163 - TYPOGRAPHY 
  * - base
  * - sections
  * - components    
 Line 335 - COMPONENTS
  * - accordion
  * - drumkit
 Line 532 - LAYOUT 
 Line 705 - SECTIONS 
  *
  */


  
/* VARIABLES //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
:root

  /* colors */
  --color-white: #fff
  --color-black: #000

  /* Primary colors */
  --honey-yellow: #FBAF00
  --queen-blue: #476C9B 

  /* section backgrounds */
  /* intro */
  --color-front-intro: #FFF3D6

  /* origins */
  --color-front-origins: #F5F5F5

  /* now */
  --color-front-now: #A3C7E1

  /* hopes */
  --color-front-hopes: #B7CCCC

  /* Typography */
  --default-font-size: 1.8rem
  --font-family-main: 'Raleway'
  --font-family-alternative: '3dumb'
  // --font-color-primary:	#333
  --font-menu-color: #fff
