/* VARIABLES */
:root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  /* Primary colors */
  --honey-yellow: #FBAF00;
  --queen-blue: #476C9B;
  /* section backgrounds */
  /* origins */
  --cultured: #F5F5F5;
  --platinum: #EBEAE8;
  /* now */
  --pale-cerulean: #A3C7E1;
  /* hopes */
  --opal: #B7CCCC;
  /* fun */
  --peach-puff: #FFDEC2;
  --sea-shell: #FFF4EB;
  --beau-blue: #D1E3F0;
  /* Typography */
  --default-font-size: 1.6rem;
  --color-grey-dark: #777;
  --font-family-main: "Raleway";
  --font-family-alternative: "3dumb";
  --font-menu-color: #fff;
}

/* UTILITIES ///////////////////////////////////////////////////////////////*/
.u-margin-top {
  margin-top: 6rem;
}

.u-margin-top-large {
  margin-top: 10rem;
}

/* BASE ///////////////////////////////////////////////////////////////*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

/* sections */
.section__hero {
  position: relative;
  width: 100%;
  min-height: 55vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: polygon(0 0, 5% 95%, 45% 95%, 50% 100%, 55% 95%, 95% 95%, 100% 0);
}
@media (max-width: 37.5em) {
  .section__hero {
    min-height: 40vh;
  }
}
.section__hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.section__wrapper {
  padding: 10rem 20rem 10rem 20rem;
  height: auto;
  transition: all 0.6s;
}
@media (max-width: 75em) {
  .section__wrapper {
    padding: 6rem 15rem;
  }
}
@media (max-width: 56.25em) {
  .section__wrapper {
    padding: 6rem 6rem;
  }
}
@media (max-width: 37.5em) {
  .section__wrapper {
    padding: 4rem 4rem;
  }
}

.heading-background {
  width: 100%;
  min-height: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* TYPOGRAPHY ///////////////////////////////////////////////////////////////*/
@font-face {
  font-family: "3dumb";
  src: url("../../assets/fonts/3Dumb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

.nav__link {
  font-family: var(--font-family-alternative);
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

p {
  padding: 1rem 0;
  font-weight: 400;
  color: var(--bistre);
  font-size: 1.8rem;
  text-align: justify;
}
p.padding-upper {
  padding-top: 3rem;
}

.heading-secondary {
  font-family: var(--font-family-alternative);
  font-weight: 600;
  color: var(--color-white);
  font-size: 8rem;
  position: absolute;
  bottom: 15%;
  z-index: 1;
  letter-spacing: 3rem;
}

@media (max-width: 75em) {
  .heading-secondary {
    font-size: 7rem;
  }
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 6rem;
    bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 4rem;
    letter-spacing: 1.2rem;
  }
}

.heading-tertiary {
  font-family: var(--font-family-alternative);
  font-weight: 500;
  font-size: 3.5rem;
  padding-bottom: 3rem;
  color: var(--color-white);
}
@media (max-width: 56.25em) {
  .heading-tertiary {
    text-align: center;
    font-size: 3.5rem;
  }
}
@media (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 2.5rem;
  }
}

footer p {
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
}

/* Sections */
/* Intro */
.section__intro .heading-primary {
  font-family: var(--font-family-alternative);
  font-weight: 600;
  color: var(--color-white);
  font-size: 8rem;
  z-index: 99;
  letter-spacing: 2.5rem;
}
@media (max-width: 75em) {
  .section__intro .heading-primary {
    font-size: 7rem;
  }
}
@media (max-width: 56.25em) {
  .section__intro .heading-primary {
    font-size: 6rem;
    bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .section__intro .heading-primary {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
  }
}
.section__intro .introduction-copy {
  z-index: 99;
  color: var(--color-white);
  font-size: 2rem;
  padding: 1rem 0;
}
.section__intro .heading-tertiary {
  color: var(--queen-blue);
}
.section__intro h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section__intro ul {
  padding: 4rem 0;
}
.section__intro ul li {
  padding: 1rem 0;
  font-weight: 400;
  color: var(--bistre);
  font-size: 1.8rem;
  text-align: justify;
  list-style-position: inside;
}

/* Origins */
.section__origins .heading-tertiary {
  color: var(--queen-blue);
}

/* Accordion */
.accordion__label {
  text-transform: uppercase;
  font-family: var(--font-family-alternative);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--queen-blue);
}

/* COMPONENTS ///////////////////////////////////////////////////////////////*/
/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}
.accordion__panel {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 6px solid var(--queen-blue);
  border-radius: 5px;
}
.accordion__panel:hover {
  transform: scale(1.01);
  border-bottom: 1px solid var(--queen-blue);
}
.accordion__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 0.5rem 0 0 0;
}
@media (max-width: 37.5em) {
  .accordion__label {
    font-size: 1.8rem;
  }
}
.accordion__label::before {
  content: "+";
  font-family: var(--font-family-main);
  background: url("../img/light-bulb.png") no-repeat;
  background-size: contain;
  font-size: 3rem;
  padding-right: 1rem;
  width: 48px;
  height: 48px;
  background-position: 0.4rem 0;
  transition: all 1.2s;
}
.accordion__label--open::before {
  content: "-";
  background: url("../img/bulb.png") no-repeat;
  background-size: contain;
  background-position: 0.4rem 0;
  text-shadow: 1px 1px 1px var(--honey-yellow);
}
.accordion__content {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 1rem 0 1rem;
  margin: 0.5rem 0;
}

/* Drumkit */
.drumkit {
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 37.5em) {
  .drumkit {
    width: 80vw;
    height: 20vh;
  }
}
.drumkit__btn {
  background-color: rgba(242, 38, 19, 0.8);
  border: 2px dotted var(--color-black);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin: 4rem auto 4rem auto;
  font-family: var(--font-family-alternative);
}
.drumkit__control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 0 1rem;
  font-family: var(--font-family-alternative);
}
.drumkit__control-panel p {
  font-size: 2rem;
  padding: 0 1rem;
}
@media (max-width: 56.25em) {
  .drumkit__control-panel {
    display: none;
  }
}
.drumkit__instructions {
  list-style-type: none;
  text-align: center;
  line-height: 1.8;
  margin-top: 5rem;
  font-size: 1.5rem;
}

.carpet {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.kit-piece {
  max-width: 10%;
  position: absolute;
  bottom: 0;
}

.kick {
  max-width: 20%;
  left: 46%;
  z-index: 1;
}

.snare {
  z-index: 10;
  max-width: 15%;
  left: 33%;
}

.hi-hat {
  max-width: 15%;
  z-index: 9;
  bottom: 2.5%;
  left: 36%;
}

.cymbal-left {
  max-width: 30%;
  z-index: 8;
  bottom: 3%;
  left: 12%;
}

.cymbal-right {
  max-width: 30%;
  z-index: 8;
  bottom: 3%;
  left: 56%;
}

.smallerDeviceControls {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 6rem;
}

.drumkit-mobile-btn {
  margin: 0 auto;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 50%;
  background-color: var(--honey-yellow);
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 5rem;
  height: 5rem;
  transition: tranform 0.2s;
}
.drumkit-mobile-btn:hover, .drumkit-mobile-btn:active {
  transform: scale(1.2);
}
@media (max-width: 56.25em) {
  .drumkit-mobile-btn {
    display: flex;
  }
}

#crash-l-btn {
  grid-column: 1/2;
  grid-row: 1/2;
}

#crash-r-btn {
  grid-column: 4/5;
  grid-row: 1/2;
}

#hi-hat-btn {
  grid-column: 1/2;
  grid-row: 3/4;
}

#kick-btn {
  grid-column: 3/4;
  grid-row: 5/6;
}

#snare-btn {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* LAYOUT ///////////////////////////////////////////////////////////////*/
/* Header */
.header {
  height: 10rem;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  width: 100%;
}

/* Navigation */
.navigation__button {
  position: fixed;
  z-index: 200;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--queen-blue);
  height: 9rem;
  width: 12.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.navigation__background {
  position: fixed;
  z-index: 50;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 9rem;
  width: 12.5rem;
  border-radius: 50%;
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  background-color: var(--queen-blue);
}
@media (max-width: 56.25em) {
  .navigation__button, .navigation__background {
    display: block;
    position: fixed;
    height: 7rem;
    width: 7rem;
    transform: none;
    left: auto;
    right: 1.5rem;
    top: 1rem;
  }
}
.navigation__button-open, .navigation__background-open {
  transform: scale(80);
}
.navigation__nav {
  position: fixed;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 100vh;
  width: 100%;
  top: -2000px;
  transition: opacity 1s;
}
.navigation__nav-open {
  top: initial;
  opacity: 1;
}
.navigation__list {
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 2rem 0;
}
.navigation__link {
  color: var(--font-menu-color);
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-family: var(--font-family-alternative);
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
}
.navigation__link:hover, .navigation__link:active {
  font-size: 3.5rem;
  color: var(--honey-yellow);
}
.navigation__link-current {
  color: var(--honey-yellow);
}
.navigation__icon {
  position: relative;
  z-index: 2500;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3.5rem;
  height: 2px;
  background-color: var(--color-white);
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  width: 3.5rem;
  top: -0.8rem;
}
.navigation__icon::after {
  width: 3.5rem;
  top: 0.8rem;
}
.navigation__icon-clicked {
  background-color: transparent;
}
.navigation__icon-clicked::before {
  transform: rotate(45deg);
  top: 0;
}
.navigation__icon-clicked::after {
  top: 0;
  transform: rotate(-45deg);
}
@media (max-width: 56.25em) {
  .navigation__icon {
    top: 2.5rem;
  }
}

/* Footer */
.section__footer {
  background-color: var(--color-white);
}
.section__footer-front-layer {
  padding: 4rem 0;
  clip-path: polygon(3% 0%, 97% 0%, 100% 100%, 0% 100%);
  background-color: var(--queen-blue);
  height: 16vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__footer-links-container {
  position: relative;
}
.section__footer-link {
  padding: 0 3rem;
  width: 4rem;
  height: 4rem;
  transition: all 0.6s;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section__footer-link-github {
  background-image: url("../img/github.png");
}
.section__footer-link-fcc {
  background-image: url("../img/fcc.png");
  background-size: 58%;
}
.section__footer-link-codewars {
  background-image: url("../img/codewars.png");
}

/* SECTIONS ///////////////////////////////////////////////////////////////*/
/* Intro - section */
.section__intro-front-layer {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 100%, 45% 100%, 20% 100%, 15% 100%, 100% 100%, 100% 0, 0 0);
  background-color: #FFF3D6;
}
.section__hero--intro {
  clip-path: polygon(0 95%, 45% 95%, 20% 100%, 15% 95%, 100% 95%, 100% 0, 0 0);
  display: flex;
  align-items: flex-end;
}

.introduction {
  width: 100%;
  min-height: 20rem;
  padding: 3rem 20rem 5rem 20rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
@media (max-width: 75em) {
  .introduction {
    padding: 3rem 15rem 6rem 15rem;
  }
}
@media (max-width: 56.25em) {
  .introduction {
    padding: 3rem 6rem 10rem 6rem;
  }
}
@media (max-width: 37.5em) {
  .introduction {
    padding: 3rem 4rem 12rem 4rem;
  }
}

.avatar {
  position: absolute;
  bottom: -20px;
  left: 15%;
  z-index: 1;
  width: 18rem;
}
@media (max-width: 75em) {
  .avatar {
    width: 15rem;
  }
}
@media (max-width: 56.25em) {
  .avatar {
    width: 12rem;
  }
}
@media (max-width: 37.5em) {
  .avatar {
    width: 11rem;
  }
}

/* Origins - section */
.section__origins {
  background-color: #FFF3D6;
}
.section__origins-front-layer {
  width: 100%;
  height: 100%;
  background-color: var(--cultured);
  clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%, 97% 0, 3% 0);
}

/* Now - section */
.section__now {
  background-color: var(--cultured);
}
.section__now-front-layer {
  width: 100%;
  height: 100%;
  background-color: var(--pale-cerulean);
  clip-path: polygon(5% 0, 0 10%, 3% 95%, 0% 100%, 100% 100%, 97% 95%, 100% 10%, 95% 0);
}

/* Hopes - section */
.section__hopes {
  background-color: var(--pale-cerulean);
}
.section__hopes .heading-tertiary {
  color: var(--color-white);
}
.section__hopes-front-layer {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%, 94% 0, 6% 0);
  clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%, 97% 0, 3% 0);
  background-color: var(--opal);
}

/* Fun - section */
.section__fun {
  background-color: var(--opal);
}
.section__fun .heading-tertiary {
  color: var(--queen-blue);
}

.section__fun-front-layer {
  width: 100%;
  height: 100%;
  clip-path: polygon(5% 0, 0 10%, 3% 95%, 0% 100%, 100% 100%, 97% 95%, 100% 10%, 95% 0);
  background-color: var(--color-white);
}

.people {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12rem;
}

.avatar-michelle, .avatar-aaron {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 4px solid var(--queen-blue);
  background-color: var(--queen-blue);
}
@media (max-width: 37.5em) {
  .avatar-michelle, .avatar-aaron {
    width: 10rem;
    height: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
